Repository codeforboston/police-data-trust, pull requests merged in 2021-07, with the labels that each got.

#81 Simple CRUD for Incident
  alembic.ini
  alembic/__init__.py
  alembic/env.py
  alembic/script.py.mako
  alembic/seeds.py
  alembic/versions/.keep
  alembic/versions/2c6458e01a73_first.py
  backend/api.py
  backend/config.py
  backend/database/__init__.py
  backend/database/core.py
  backend/database/models/incident.py
  backend/database/models/officer.py
  backend/routes/auth.py
  backend/routes/incidents.py
  backend/schemas.py
  backend/tests/conftest.py
  backend/tests/test_routes.py
  requirements/_core.in
  requirements/dev_unix.txt
  requirements/dev_windows.txt
  requirements/docs.txt
  requirements/prod.txt
  setup.cfg
Labels: backend, enhancement

#75 Start header component, basic structure and positioning.
  frontend/compositions/dashboardHeader/assets/Banner.svg
  frontend/compositions/dashboardHeader/assets/BannerMobile.svg
  frontend/compositions/dashboardHeader/assets/LogoMobile.svg
  frontend/compositions/dashboardHeader/assets/NPDCLogo.svg
  frontend/compositions/dashboardHeader/assets/Vector.svg
  frontend/compositions/dashboardHeader/dashboardHeader.module.css
  frontend/compositions/dashboardHeader/desktopNav.tsx
  frontend/compositions/dashboardHeader/index.tsx
  frontend/pages/dashboard/index.tsx
Labels: enhancement, frontend

#97 some reorganizing to match the definition of directions more so, adde…
  frontend/compositions/dashboardHeader/index.tsx
  frontend/compositions/enrollment-call-to-action/enrollment-call-to-action.module.css
  frontend/compositions/enrollment-call-to-action/enrollment-call-to-action.tsx
  frontend/compositions/enrollment-header/enrollment-header.module.css
  frontend/compositions/enrollment-header/enrollment-header.tsx
  frontend/compositions/enrollment-input/enrollment-input.module.css
  frontend/compositions/enrollment-input/enrollment-input.tsx
  frontend/compositions/index.tsx
  frontend/compositions/logo/logo.tsx
  frontend/compositions/password-aid/password-aid.module.css
  frontend/compositions/password-aid/password-aid.tsx
  frontend/compositions/state-select/state-select.module.css
  frontend/compositions/state-select/state-select.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/dashboard/index.tsx
  frontend/pages/login/index.tsx
  frontend/pages/passport/index.tsx
  frontend/pages/register/index.tsx
  frontend/shared-components/enrollment-header/enrollment-header.tsx
  frontend/shared-components/enrollment-input/enrollment-input.tsx
  frontend/shared-components/index.tsx
  frontend/shared-components/layout/layout.module.css
  frontend/shared-components/layout/layout.tsx
  frontend/tests/snapshots/__snapshots__/dashboard.test.tsx.snap
  frontend/tests/snapshots/__snapshots__/login.test.tsx.snap
  frontend/tests/snapshots/__snapshots__/logo.test.tsx.snap
  frontend/tests/snapshots/__snapshots__/passport.test.tsx.snap
  frontend/tests/snapshots/__snapshots__/register.test.tsx.snap
  frontend/tests/snapshots/login.test.tsx
  frontend/tests/snapshots/logo.test.tsx
  frontend/yarn.lock
Labels: enhancement, frontend, refactor
